body {

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.todoList {
    display: flex;
    flex-direction: column;
}

.todoList__title {
    font-size: 1.5em;
    font-weight: bold;
}

.todoList__list {
    display: flex;
    flex-direction: column;
}

.todoList__listItem {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    cursor: pointer;
}

.todoList__listItem:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.todoList__listItem::before {
    content: "♥";
    margin-right: 10px;
}

.todoList__input {
    padding: 5px;
}